[user]
	name = Sahil Jawa
	email = jawa@newsaktuell.de
[push]
	default = current
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
 lg = log -p
 dh = diff HEAD
 pr = pull --rebase
 uncommit = reset --soft HEAD^
[core]
	precomposeunicode = true
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

